.svgDiv {
    background-color: #06f;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 6px 6px 0px ;
}

.btn {
    display: flex; 
    align-items: center;
    height: 60px;
    width: 200px;
    border-radius: 6px;
    border: #06f 1px solid;
}

.txtDiv {
    width: 60%;
    font-family: "Lato", ;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin: 0px;
    color: #06f;
    text-align: center;
}

@media only screen and (max-width : 800px){
    .txtDiv {
        font-size: 15px;
    }

    .btn {
        height: 30px;
        width: 100px;
    }

    .svgDiv img {
        width: 15px;
    }
}