.ngospage {
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: none;
}

.title-ngo {
    background: linear-gradient(90deg, rgba(0,102,255,1) 0%, rgba(0,67,168,1) 100%);
    color: #fff;
    font-family: "Lato";
    font-weight: 900;
    font-size: 50px;
    width: 300px;
    padding: 10px 80px;
    align-self: flex-end;
    border-radius: 12px;
}

.ngocard-container {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    gap : 30px;
    justify-content: space-evenly;
;
}